
<footer>
    <p style="float:left; margin-top:1%;color:white; font-size:15px;">Engineering Consultants Group</p>
    <p style="float:right;margin-top:1%;color:white;">Developed by ECGIT Pune. For any issues please contact: <a href="adaniwilmar.support@ecgit.com">adaniwilmar.support@ecgit.com</a>.</p>

</footer>



