<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]>
  <html class="lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
  <html class="lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]>
  <!-->
<html lang="en">
<!--
<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Adani Wilmar </title>
    <meta name="author" content="Sachin Khedkar">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <meta name="description" content="ECG IT">
    <meta name="keywords" content="">
    <script src="~/new/js/html5-trunk.js"></script>
    <link href="~/new/icomoon/style.css" rel="stylesheet" />

    <!--[if lte IE 7]>
    <script src="css/icomoon-font/lte-ie7.js"></script>
    <![endif]-->
    <!-- bootstrap css -->
    <link href="~/new/css/main.css" rel="stylesheet">
</head>
<body >
    <header>


        <div class="row-fluid">
            <div class="span3">
                <a href="#" class="logo">
                    <img src="~/new/img/logo1.png" style="width:185px">

                </a>
            </div>
            <div class="span6" style="align-items:center; margin-top: -79px; color: #FFF;" align="center">



                <h3>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Manufacturing Automation System </h3>
                <h4 style="margin-top:-8px !important;">  &nbsp;&nbsp;&nbsp;&nbsp;(PLC to SAP) </h4>
            </div>
            <div class="span3">
                <div id="mini-nav">
                   
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        
    </header>




    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4 offset4">
                <div class="signin">
                    
                    <form action="/Login/doLogin/" id="LoginPost" method="post" class="signin-wrapper">
                        <div class="content">

                            <input class="input input-block-level" id="LoginEmail" name="email" placeholder="UserName" value="" type="text">
                            <input class="input input-block-level" id="LoginPassword" name="password" placeholder="Password" type="password">
                        </div>
                        <div class="actions">
                            <input class="btn btn-info pull-right" id="btnSubmit" type="submit" name="login" value="Login">
                            <span class="checkbox-wrapper">

                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="~/new/js/jquery.min.js"></script>
    <script src="~/new/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <!--loging script -->
    <script>

    $(document).ready(function () {

        jQuery.validator.setDefaults({
            // where to display the error relative to the element
            errorPlacement: function (error, element) {
                error.appendTo(element.parent().find('div.field-validation-error'));
            }
        });

        $("#LoginPost").validate({

            rules: {
                // mandatory entry
                email: "required",
                password: "required",
                // on page submit

                submitHandler: function () {
                    alert('Form validation was a success, please proceed!');
                }
            }
        });
    });

    </script>



</body>
</html>







<!--<html>
<head>

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <title>Login</title>
    <link href="~/CSS/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dialogBox.js"></script>
    <link href="~/CSS/jquery.dialogbox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=7,IE=8, IE=9, IE=10, IE=11" /> 
</head>

<body >

    <div id="main">
        <div id="header" style="background-color:#8F54A4;">
            <img src="~/CSS/WilmarLogo.png" id="logo" />
           
        </div>
        
        <div id="site_content">

            <div id="YourProfile">

                <form action="/Login/doLogin/" id="LoginPost" method="post">
                    <div class="login-blue-bg">
                        <div class="login-content-space">
                            <h1 class="page-header">Login</h1>
                            <div class="form-row">

                                <div class="login-field">
                                    <input class="input-length form-row-input login-input" data-val="true" id="LoginEmail" name="email" placeholder="User Name" value="" type="text">
                                    <br>
                                    <div id="spanLoginEmail" class="field-validation-error">
                                        <span class="field-validation-valid" data-valmsg-for="LoginEmail" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="login-field">
                                    <input class="input-length form-row-input login-input" id="LoginPassword" name="password" placeholder="Password" type="password">
                                    <br>
                                    <div id="spanLoginPassword" class="field-validation-error">
                                        <span class="field-validation-valid" data-valmsg-for="LoginPassword" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                
                            </div>
                            <div class="login-bottom-action clearfix">
                                <div class="form-row-feild" style="padding-top:10px;">
                                    <input id="btnSubmit" type="submit" value="Submit" class="btn-blue" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>              
            </div>
            <div id="dialog"></div>
            <div id="message"></div>

        </div>
    </div>
   

</body>
</html>

<script>

    $(document).ready(function () {
       
        jQuery.validator.setDefaults({
            // where to display the error relative to the element
            errorPlacement: function (error, element) {
                error.appendTo(element.parent().find('div.field-validation-error'));
            }
        });

        $("#LoginPost").validate({

            rules: {
                // mandatory entry             
                email: "required",
                password:"required",
                // on page submit 

                submitHandler: function () {
                    alert('Form validation was a success, please proceed!');
                }
            }
        });
    });

   

</script>
    -->

